html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #1a042b;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titleBar {
  padding-left: 2em;
}

#container {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  column-gap: 3em;
  margin-inline: 4em;
}

#board {
  min-width: 480px;
  max-width: 720px;
  flex-grow: 1;
  flex-shrink: 1;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  height: stretch;
}

.square {
  background-color: lightgray;
  border: 1px solid gray;
}

#sizeBar,
#colorBar {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

 #container button {
  background-color: #143346;
  color: white;
  border: 4px solid #c3f45000;
  border-left: 4px solid #c4f450;
  font-size: 1.5em;
  padding: 0.75em;
}

#container button:hover {
  border-color: #c4f450;
}

#container button:active {
  background-color: #93ba2b;
  color: black;
}

.selected {
  font-size: 5em;
}