html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: midnightblue;
}

#container {
  display: flex;
}

#board {
  min-width: 640px;
  max-width: 960px;
  flex-grow: 0;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  height: stretch;
}

.square {
  background-color: lightgray;
  border: 1px solid gray;
}